<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Account.master.cs" Inherits="ISB42403_GroupProject.Account" %>

<%@ Register Src="~/LoginStatus.ascx" TagPrefix="uc1" TagName="LoginStatus" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <title></title>
    <link href="Styles/Account.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
</asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <uc1:LoginStatus runat="server" ID="LoginStatus" />
        </div>
        <br />
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
